<!-- banner start -->
<div class="contain-fluid">

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active" 
          data-bs-interval="10000"
          *ngFor="let b of bannerResult;let i=index"
          [ngClass]="{active:i===1}"
          >
            <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>{{b.original_title}}</h2>
              <p>{{b.overview}}</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<!-- banner end -->

<div class="contain mt-3 pt-4 ms-3">
    <!-- trending movies -->
    <div class="row">
        <h5 class="text-white">Trending Movies</h5>
        <div class="rowposter">
            <ng-container  *ngFor ="let t of trendingMovieResult">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" 
            class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',t.id]">
            </ng-container>
        </div>
    </div>



    <!-- action movies -->
    <div class="row mt-3 p-2">
        <h5 class="text-white">Action Movies</h5>
        <div class="rowposter">
            <ng-container  *ngFor ="let a of actionMovieResult">
            <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" 
            class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',a.id]">
            </ng-container>
        </div>
    </div>


    <!-- adventure movies -->
    <div class="row mt-3 p-2">
        <h5 class="text-white">Adventure Movies</h5>
        <div class="rowposter">
            <ng-container  *ngFor ="let ad of adventureMovieResult">
            <img src="https://image.tmdb.org/t/p/original/{{ ad.poster_path }}" 
            class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',ad.id]">
            </ng-container>
        </div>
    </div>


    <!-- animation movies -->
    <div class="row mt-3 p-2">
        <h5 class="text-white">Animation Movies</h5>
        <div class="rowposter">
            <ng-container  *ngFor ="let an of animationMovieResult">
            <img src="https://image.tmdb.org/t/p/original/{{ an.poster_path }}" 
            class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',an.id]">
            </ng-container>
        </div>
    </div>

    <!-- comedy movies -->
    <div class="row mt-3 p-2">
        <h5 class="text-white">Comedy Movies</h5>
        <div class="rowposter">
            <ng-container  *ngFor ="let c of comedyMovieResult">
            <img src="https://image.tmdb.org/t/p/original/{{ c.poster_path }}" 
            class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',c.id]">
            </ng-container>
        </div>
    </div>

    <!-- Documentary Movies -->
    <!-- <div class="row mt-3 p-2">
        <h5 class="text-white">Documentary Movies</h5>
        <div class="rowposter">
            <ng-container  *ngFor ="let do of documentaryMovieResult">
            <img src="https://image.tmdb.org/t/p/original/{{ do.poster_path }}" 
            class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',do.id]">
            </ng-container>
        </div>
    </div> -->
    

     <!-- Science Fiction Movies -->
     <div class="row mt-3 p-2">
        <h5 class="text-white">Science Fiction Movies</h5>
        <div class="rowposter">
            <ng-container  *ngFor ="let sc of scienceFictionMovieResult">
            <img src="https://image.tmdb.org/t/p/original/{{ sc.poster_path }}" 
            class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',sc.id]">
            </ng-container>
        </div>
    </div>


     <!-- Thriller Movies -->
     <div class="row mt-3 p-2">
        <h5 class="text-white">Thriller Movies</h5>
        <div class="rowposter">
            <ng-container  *ngFor ="let th of thrillerMovieResult">
            <img src="https://image.tmdb.org/t/p/original/{{ th.poster_path }}" 
            class="rowimg largeposter pn-3" alt="..."
            [routerLink]="['/movie',th.id]">
            </ng-container>
        </div>
    </div>


</div>
